{% extends "base.html" %}
{% set titulo_pagina = "Clientes" %}
{% block conteudo %}
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-Mail</th>
            <th>Telefone</th>
            <th>Data Nasc.</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.data_nascimento }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}